/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  background-image: #f2f2f2;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

main > div > h1 {
  background-image: url("vocnjak.png");
  height: 30rem;
  opacity: 0.5;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.logo p {
  margin: 0;
  font-size: 16px;
}

.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.line:nth-child(2) {
  margin: 5px 0 5px 10px;
}

/* Hamburger menu styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 5px;
    border: none;
    background: transparent;
  }

  .hamburger-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    border-radius: 3px;
  }

  /* Show navigation when hamburger button is active */
  .hamburger.active ~ .navigation {
    display: block;
  }
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 70px auto 0;
  padding: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #000;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  margin: 10px;
}

.navigation a {
  color: wheat;
  text-decoration: none;
  font-size: 18px;
}

section {
  margin-bottom: 40px;
}

section:last-child {
  margin-bottom: 0;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #000;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  main {
    margin-top: 80px;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 1.3;
  }
}

/* Media queries */
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    flex-direction: row;
  }

  .navigation li {
    margin: 0 20px;
  }
}

/* SORTE  */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
.box img {
  max-width: 100%;
  max-height: 70%;
  margin-bottom: 10px;
}
.box h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.box p {
  margin: 5px 0;
  font-size: 0.9em;
}

/* Media queries */
@media only screen and (max-width: 767px) {
  .box {
    flex-basis: calc(100% - 20px);
  }
}

/*CONTACT FORM */

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}
